<!DOCTYPE html>
<html>
    <head>
        <script src="vue.js"></script>
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <style>

        </style>
    </head>
    <body>
        <div id="app">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
                </div>
                <div class="panel-body form-inline">
                    <label>Id:
                        <input type="text" class="form-control" v-model="id">
                    </label>
                    <label>Name:
                        <input type="text" class="form-control" v-model="name" @keyup.f2="add">
                    </label>
                    <input type="button" value="添加" class="btn btn-primary" @click="add">
                    <label>Search:
                        <input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'">
                    </label>
                </div>
            </div>

            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Ctime</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in search(keywords)" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.ctime | dataFormat('yyyy-MM-DD')}}</td>
                        <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="app2">
            {{dt | dataFormat()}}
        </div>
        
        <script>
            // 全局过滤器
            Vue.filter('dataFormat',function(dataStr,patter=""){
                var dt=new Date(dataStr);
                var y= dt.getFullYear();
                // var m=dt.getMonth();
                var m=(dt.getMonth()+1).toString().padStart(2,"0");
                var d=dt.getDate().toString().padStart(2,"0");
                // return `${y}-${m}-${d}`

                if(patter.toLowerCase()=='yyyy-mm-dd'){
                    return `${y}-${m}-${d}`
                }else{
                    var hh=dt.getHours().toString().padStart(2,"0");
                    var mm=dt.getMinutes().toString().padStart(2,"0");
                    var ss=dt.getSeconds().toString().padStart(2,"0");
                }
                
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                

            })

            //Vue.directive()定义全局指令
            //其中，参数1：指令的名称。注意：在定义的时候，指令的名称前面不需要加-v前缀；但在调用的时候，必须在指令名称前加上-v
            //<input type="text" class="form-control" v-model="keywords" v-focus>
            //参数2：是一个对象，指令相关的函数，这些函数在特定的阶段，执行相关操作
            Vue.directive('focus',{
                bind:function(el){//每当指令绑定到元素上的时候，会立即执行此函数，只执行一次
                //注意：每个函数第一的参数永远是el，表示被绑定了指令的那个元素，这个el参数是原生js对象

                },
                inserted:function(el){//inserted表示元素插入到DOM中的时候，会执行此函数，只触发一次
                    el.focus();
                },
                updated:function(el){//当Node更新时，会执行此函数，可能会触发多次

                }
            })

            //自定义设置字体颜色的指令
            Vue.directive('color',{
                //样式只要通过指令绑定给了元素即生效
                bind:function(el,binding){
                    
                    el.style.color=binding.value;

                },
                inserted:function(el){

                },
                updated:function(el){

                }
            })


            let vm=new Vue({
                el:"#app",
                data:{
                    id:"",
                    name:"",
                    keywords:"",
                    list:[
                        {id:1,name:'奔驰',ctime:new Date()},
                        {id:2,name:'宝马',ctime:new Date()},
                    ]
                },
                methods:{
                    add(){
                        this.list.push({id:this.id,name:this.name,ctime:new Date()});
                        this.id=this.name="";
                    },
                    del(id){
                        //some方法
                        // this.list.some((item,i)=>{
                        //     if(item.id==id){
                        //         this.list.splice(i,1);
                        //         return true;
                        //     }
                        // })

                        // findIndex方法，专门查找id
                        var index=this.list.findIndex(item=>{
                            if(item.id==id){
                                return true;
                            }
                        })

                        this.list.splice(index,1);
                    },
                    search(keywords){

                        var newList=[];
                        // this.list.forEach(item => {
                        //     if(item.name.indexOf(keywords)!=-1){
                        //         newList.push(item);
                        //     }
                        // });
                        // return newList;

                        var newList=this.list.filter(item=>{
                            if(item.name.includes(keywords)){
                                return item;
                            }
                        })

                        return newList;
                    }
                }
            });

            //定义私有的过滤器
            let vm2=new Vue({
                el:'#app2',
                data:{
                    dt:new Date(),
                },
                methods:{

                },
                filters:{
                    dataFormat:function(dataStr,patter=""){
                        var dt=new Date(dataStr);
                        var y= dt.getFullYear();
                        var m=(dt.getMonth()+1).toString().padStart(2,"0");
                        var d=dt.getDate().toString().padStart(2,"0");
                        if(patter.toLowerCase()=='yyyy-mm-dd'){
                            return `${y}-${m}-${d}`
                        }else{
                            var hh=dt.getHours().toString().padStart(2,"0");
                            var mm=dt.getMinutes().toString().padStart(2,"0");
                            var ss=dt.getSeconds().toString().padStart(2,"0");
                        }
                        
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~`
                    }
                }
            })

            // Vue.filter('过滤器的名称',function(data){
            //     return data+"123";
            // })
            
            Vue.config.keyCodes.f2=118;
            
            
            

        </script>
    
    </body>
</html>