<!DOCTYPE html>
<html>
    <head>
        <script src="vue.js"></script>
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <style>

        </style>
    </head>
    <body>
        <div id="app">


            <cmt-box>

            </cmt-box>


            <ul class="list-group">
                <li class="list-group-item" v-for="item in list" :key="item.id">
                    <span class="badge">评论人：{{item.user}}</span>
                    {{item.content}}
                    
                </li>
            </ul>



        </div>

        <template id="tmpl">
            <div>

                <div class="form-group">
                    <label>评论人:</label>
                    <input type="text" value="" class="form-control" v-model="user">
                </div>
                <div class="form-group">
                    <label>评论内容:</label>
                    <textarea class="form-control" v-model="content"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
                </div>

            </div>

        </template>


        <script>

            var commentBox={
                // 组件中的变量应定义在组件模板中
                data(){
                    return {
                        user:'',
                        content:'',
                    }
                },
                methods:{
                    postComment(){//发表评论的方法

                    }
                },
                template:"#tmpl",

            }

            


            var vm=new Vue({
                el:"#app",
                data:{
                    list:[
                        {id:Date.now(),user:'李白',content:'天生我材必有用'},
                        {id:Date.now(),user:'江小白',content:'劝君更尽一杯酒'},
                        {id:Date.now(),user:'小马',content:'我姓马，风吹草低见牛羊'}
                    ]
                },
                methods:{
                    
                },

                components:{
                    'cmt-box':commentBox
                }
            })
        </script>
    
    </body>
</html>