body {
    margin: 0;
    background-image: url("bg.png");
    
}
#zhezhao{
    background-size: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    z-index: -100;
}
#con{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* border: 1px solid white; */
    width: 400px;
    margin-top: 100px;
    align-items: center;
}
.dingbu{
    display: flex;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.xian1,.xian2{
    width: 0;
    height: 0;
}
.xian1{
    position: relative;
    border-top: 62px solid rgba(255,255,255,.3);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transform-origin: center center;
    transform: rotateZ(90deg);
}
.yuan1{
    position: absolute;
    right: -2px;
    top: -66px;
}

.xian2{
    position: relative;
    border-top: 62px solid rgba(255,255,255,.3);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transform-origin: center center;
    transform: rotateZ(-90deg);
}
.yuan2{
    position: absolute;
    left: -2px;
    top: -66px;
}

.yuan1,.yuan2{
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}
.dingbu>p{
    color:white;
    font-size: 18px;
    text-align: center;
}

.xuanzhuan,.jiage{
    width: 350px;
    margin: 0 auto;
}
.xuanzhuan{
    height: 350px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    /* 遮挡多余部分 */
    overflow: hidden;
}

.fangge{
    width: 85px;
    height: 85px;
    background-color: #4cff00;
    transform-origin: center center;
    animation: myfangge 6s linear infinite;
    z-index: 100;
}
@keyframes myfangge{
    from{transform:rotateZ(0deg)}
    to{transform:rotateZ(360deg)}
}
.guanbi_x{
    height: 40px;
    width: 1px;
    background-color: white;
    position: absolute;
    right: -75px;
    top: 34px;
}
.guanbi_x>p{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid white;
    color: white;
    top: -22px;
    left: -11px;
    font-size: 16px;
    margin: 0;
}

.jiage{
    height: 150px;
    background-color: #f39549;
    border-radius:0 0 5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.jiage>span{
    text-align: center;
    color: white;
}
.s1,.s3{
    font-size: 20px;
    margin-bottom: 4px;
    letter-spacing:1px;
    line-height: 20px;
    margin-top: 10px;
}
.s2{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
.s2>span{
    font-size: 20px;
    margin-right: 8px;
}
.sanjiao1,.sanjiao2{
    background-color: #f39549;
    transform-origin: center center;
    position: absolute;
    width: 192px;
    height: 90px;
    top: 86px;
    z-index: -5;
}
.sanjiao1{
    transform: rotateZ(15deg);
    left: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 20px;
}
.sanjiao2{
    transform: rotateZ(-15deg);
    right:10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 3px;
}


.anniu{
    display: flex;
    justify-content: center;
    margin: 80px 0 0;
}
.anniu>p{
    cursor: pointer;
}
.zhidao{
    margin-right: 20px;
    border: 1px solid white;
}
.zhidao,.kanjia{
    height: 45px;
    width: 130px;
    text-align: center;
    line-height: 45px;
    
    border-radius: 30px;
    color:white;
}
.kanjia{
    background-color: #f39549;
    border: 1px solid #f39549;
}

.guangmang{
    width: 822px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    overflow: hidden;
    animation: myguang 2s linear 2s;
    opacity: 0;
    animation-fill-mode:forwards;
}
@keyframes myguang{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

i{
    position: absolute;
    display: block;
    height: 550px;
    width: 32px;
    background-image: linear-gradient( rgba(243, 149, 73,.5) 30%, rgba(243, 149, 73,0));
    transform-origin: 0 100%;
    top: 0;
    left: 0;
    transform: rotateX(15deg);
    
}
/* 辅助线 */
.guangmang>p:nth-child(1){
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: red;
    margin: 0;
    top: 50%;
}
.guangmang>p:nth-child(2){
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: red;
    margin: 0;
    left: 50%;
}

.aaa{
    perspective:30;
    -webkit-perspective:30;
    position: absolute;
    top: 403px;
    left: 404px;
}

.aaa:nth-child(1){
    transform:rotateZ(0deg);
}
.aaa:nth-child(2){
    transform: rotateZ(15deg);
}
.aaa:nth-child(3){
    transform: rotateZ(30deg);
}
.aaa:nth-child(4){
    transform: rotateZ(45deg);
}
.aaa:nth-child(5){
    transform:  rotateZ(60deg);
}
.aaa:nth-child(6){
    transform:  rotateZ(75deg);
}
.aaa:nth-child(7){
    transform:  rotateZ(90deg);
}
.aaa:nth-child(8){
    transform:  rotateZ(105deg);
}
.aaa:nth-child(9){
    transform:  rotateZ(120deg);
}
.aaa:nth-child(10){
    transform:  rotateZ(135deg);
}
.aaa:nth-child(11){
    transform:  rotateZ(150deg);
}
.aaa:nth-child(12){
    transform:  rotateZ(165deg);
}
.aaa:nth-child(13){
    transform:  rotateZ(180deg);
}
.aaa:nth-child(14){
    transform:  rotateZ(195deg);
}
.aaa:nth-child(15){
    transform:  rotateZ(210deg);
}
.aaa:nth-child(16){
    transform:  rotateZ(225deg);
}
.aaa:nth-child(17){
    transform:  rotateZ(240deg);
}
.aaa:nth-child(18){
    transform:  rotateZ(255deg);
}
.aaa:nth-child(19){
    transform:  rotateZ(270deg);
}
.aaa:nth-child(20){
    transform:  rotateZ(285deg);
}
.aaa:nth-child(21){
    transform:  rotateZ(300deg);
}
.aaa:nth-child(22){
    transform:  rotateZ(315deg);
}
.aaa:nth-child(23){
    transform:  rotateZ(330deg);
}
.aaa:nth-child(24){
    transform:  rotateZ(345deg);
}