<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--父组件模板-->
<div id="app">
  <cpn @itemclick="itemClicks"></cpn>
  <ul>
    <li v-for="item in fushuma">
      {{item.name}}
    </li>
  </ul>
</div>

<!--子组件模板-->
<template id="cpn">
  <div>
    <button v-for="item in zishuma" @click="btnClick()">
      {{item.name}}
    </button>
  </div>
</template>

<script src="../js/vue.js"></script>
<script>

  const cpn={
    template:'#cpn',
    data(){
      return {
        zishuma:[
          {id:1,name:'电脑'},
          {id:2,name:'手机'},
          {id:3,name:'相机'},
          {id:4,name:'耳机'},
        ]
      }
    },
    methods: {
      btnClick(){
        //发射事件:自定义事件
        this.$emit('itemclick',this.zishuma);
      }
    }
  }

  const app = new Vue({
    el:'#app',
    data:{
      fushuma:[],
    },
    components:{
      cpn,
    },
    methods:{
      itemClicks(e){
        return this.fushuma=e;
      }
    }


  })

</script>
</body>
</html>